// Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap';

$padding: 20px;

body {
    padding: $padding;
    min-width: 400px;
    min-height: 200px;

    .container {
        .row {
            margin-top: 1em;
        }
    }
}
